@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* body {
    max-width: 100%;
} */
h2 {
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

header {
    background-image: url("../img/huntington.png");
    text-align: center;
    color: white;
    padding: 5%;
    
}

h1 {
    font-family:IBM Plex Mono  ;
    font-size: 30px;
    text-shadow: 3px 3px 6px black;
    text-transform: uppercase;
             
}

h2 {
    font-family:Satisfy;
    font-size: 15px 

}
div.summary {
    font-family: Roboto;
    color: grey;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    color: grey;
    text-decoration: none;
    color: rgb(72, 90, 73);


}


div.preamble {
    padding-left: 5%;
    padding-right: 5%; 
    font-family: Roboto;   
}


.preamble p{
    color: grey;
}


div.main.supporting {
    
    font-family: Roboto; 
}

.explanation p {
    color: grey;
    padding-left: 5%;
    padding-right: 5%; 
}
.explanation h3{
    padding-left: 5%;
    padding-right: 5%; 
}
div.participation {
    background-color: rgb(120, 150, 120) ;
    background-image: url(../img/bamboo.png);
          
}
.participation p {
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0px;
    margin-top: 0% ;
   
    
}
.participation h3 {
    padding-left: 5%;
    padding-right: 5%; 
    margin-bottom: 0%;
    
}
div.benefits{
    background-color: rgb(120, 150, 120) ;
    background-image: url(../img/bamboo.png);
    
}
.benefits p {
    color: white;
    padding-left: 5%;
    padding-right: 5%; 
    margin-top:0%;
   
}
.benefits h3 {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0px;
    margin-bottom: 0%;
    padding-top: 2%;
} 

.requirements h3{
    padding-left: 5%;
    padding-right: 5%; 
}

.requirements p {
    color: grey;
    padding-left: 5%;
    padding-right: 5%; 
    margin-bottom: 0%;
}
#zen-requirements [role="contentinfo"]{
    background-color: rgb(125, 155, 125);
    font-family: Roboto;
    padding: 5%;
    text-align: center;
    font-size: 20px;

 }
 #zen-requirements [role="contentinfo"] a[href^="http://www.mezzoblue.com/"]{
     color: white;
     font-family: Satisfy;
     font-size: 40px;
     

 }
 #zen-requirements [role="contentinfo"] a[href^="http://www.mediatemple.net/"]{
    color: white;
    font-family: Satisfy;
    font-size: 40px;
    

}
#zen-requirements [role="contentinfo"] a[href^="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/"]{
    color: white;
    font-family: Satisfy;
    font-size: 40px;
    
}
footer{
    background-color: rgb(45, 75, 75);
    text-align: center;
    padding: 1%;
    margin-top: 0%;
    font-size: 20px;
    
}
footer a[href^="http://validator.w3.org/check/referer"]{
    color: white;
    font-size: 30px;
    padding: 1%;
}
footer a[href^="http://jigsaw.w3.org/css-validator/check/referer"]{
    color: white;
    font-size: 30px;
    padding: 1%;
}
footer a[href^="http://creativecommons.org/licenses/by-nc-sa/3.0/"]{
    color: white;
    font-size: 30px;
    padding: 1%;
}
footer a[href^="http://mezzoblue.com/zengarden/faq/#aaa"]{
    color: white;
    font-size: 30px;
    padding: 1%;
}
footer a[href^="https://github.com/mezzoblue/csszengarden.com"]{
    color: white;
    font-size: 30px;
    padding: 1%;
    
}
.fab:hover{
    color: grey;
}

.design-selection h3 {
    margin: 0%;
    display:none;
    
}
.design-selection ul {
    margin: 0;
    /* padding-left: 20%;
    padding-right: 20%; */
    background-color:rgb(215, 225, 215);  
    font-size: 20px; 
    list-style: none; 
  }

.design-selection ul li a[href^="/221/"]{
    color:black;
    
    
}
.design-selection ul li a[href^="http://andrewlohman.com/"] {
    color:grey;
    
    
}
.design-selection ul li a[href^="/220/"]{
    color:black;
    
    
}
.design-selection ul li a[href^="http://danielmall.com/"] {
    color:grey;
    
    
}
.design-selection ul li a[href^="/219/"]{
    color:black;
    
    
}
.design-selection ul li a[href^="http://steffen-knoeller.de"] {
    color:grey;
    
    
}
.design-selection ul li a[href^="/218/"]{
    color:black;
    
    
}
.design-selection ul li a[href^="http://trentwalton.com"] {
    color:grey;
    
    
}
.design-selection ul li a[href^="/217/"]{
    color:black;
    
    
}
.design-selection ul li a[href^="http://elliotjaystocks.com/"] {
    color:grey;
    
}
.design-selection ul li a[href^="/216/"]{
    color:black;
    
    
}
.design-selection ul li a[href^="http://jeremycarlson.com"] {
    color:grey;
    
}
.design-selection ul li a[href^="/215/"]{
    color:black;
    
    
}
.design-selection ul li a[href^="http://meltmedia.com/"] {
    color:grey;
    
}
.design-selection ul li a[href^="/214/"]{
    color:black;
    
    
}
.design-selection ul li a[href^="http://www.mezzoblue.com/"] {
    color:grey;
    
}
.design-selection ul{
    float: left;
    text-align: center;
   

}
.design-selection li{
    float: left;
    width: 50%;
    border-bottom: 2px solid grey;
    padding-top: 3%;
    padding-bottom: 3%;
    
    
    
}
.design-archives ul{
    float: left;
    width: 60%;
    text-align: center;
    
} 
.design-archives li{
    float: left;
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}


.design-archives h3 {
    display:none;
}

.zen-resources {
    float: left;
    width: 100%;
}


.design-archives ul {
    margin: 0%;
    margin-bottom: 0%;
    padding-left: 20%;
    padding-right: 20%;
    background-color:rgb(215, 225, 215); 
    font-size: 20px;
    list-style: none; 
}


.zen-resources h3 {
    display:none;
}

.zen-resources {
    margin-top: 0%;
    background-color: rgb(120, 150, 120) ;
    background-image: url(../img/bamboo.png);
    text-align: center;
    border-width: 100%;

       
}
.zen-resources ul {
    margin-top: 0%;
    list-style: none;
    padding-right: 20%;
}
.zen-resources li{
    float: left;
    width: 50%;
    padding-top: 1%;
    padding-bottom: 1%;

}


#design-selection ul {
    padding: 0px;
}

a[href="/examples/index"]:hover  { 
    text-decoration: underline;
  }

a[href="http://www.mezzoblue.com/"]:hover{
    text-decoration: underline;
}

a[href="http://www.mediatemple.net/"]:hover{
    text-decoration: underline;
}


a[href="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/"]:hover{
    text-decoration: underline;
}

